html {
    height: 100%;
}

body {
    background: rgb(14,136,125);
    background: linear-gradient(180deg, rgba(14,136,125,1) 40%, rgba(113,129,17,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    color: ghostwhite;
    padding-top: 20%;
}

h1 {
    font-family: "Hiragino Kaku Gothic Pro", serif;
}

p {
    font-family: "Roboto Thin", serif;
    font-size: 1.4rem;
}

button {
    color: #fff;
    background-color: darkorchid;
    border-color: darkorchid;
    display: inline-block;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}